<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.jen-eats.com/tanglin/images/restaurants-and-bars/banner.jpg);">
  <div class="container d-flex flex-md-column justify-content-start mt-5">
    <h1 class="py-2">ChompFood</h1>
    <p><strong>Crave it? Chomp it.</strong></p>
    <%= simple_form_for :search, url: restaurants_path, method: :get do |f| %>
      <%= hidden_field_tag 'location', 'none'%>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="query" id="query" placeholder="Search for restaurants near me"/>
        <button name="button" type="button" class="btn btn-flat">
          <a href="#" id="get_location"><i class="fas fa-map-marker-alt"></i></a>
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <div class="pb-5">
    <h1>ChompFood Promos in <strong style="color: #00b14f">Singapore</strong></h1>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators d-none">
      <% @restaurant_pages.each_with_index do |page, index| %>
      <li data-target="#carouselExampleIndicators" data-slide-to="<%= index + 1 %>" class="<%= index == 0 ? "active" : "" %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% link_to @restaurants.first.name, restaurant_path(@restaurants.first) %>
      <% @restaurant_pages.each_with_index do |page, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <div class="row">
            <% page.each do |restaurant| %>
              <div class="col-3">
                <div class="card-category"
                  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/random/300x300?food&sig=#{rand(1..10)}" %>)">
                </div>
                <div class="m-3">
                  <div class="card-name"><h6><%= link_to restaurant.name %></h6></div>
                  <% unchecked_stars = (5 - restaurant.rating).to_i %>
                  <% restaurant.rating.times do |star| %>
                    <span class="fa fa-star checked"></span>
                  <% end %>
                  <% unchecked_stars.times do |star| %>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <p><%= restaurant.cuisine %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div class="footer">
  <div class="footer-copyright">
    @Chomp 2021
  </div>
</div>
