<div style="background-color: white">
  <div class="container py-3">
    <%= link_to "Home", "/" %> > <%= link_to "Restaurants", "/restaurants#index" %> > <%= @restaurant.name %>
    <h1 class="mt-3"><%= @restaurant.name %></h1>
    <p>Operating Hours <%= @restaurant.opening_time.strftime('%I:%M %p') %> - <%= @restaurant.closing_time.strftime('%I:%M %p') %></p>
  </div>
</div>

<div class="container mt-3">
  <div class="cards">
    <% @foods.each do |food| %>
      <div class="card-category d-flex align-items-center">
        <img class="card-image ml-2" src= <%= food.photo_url %>>
        <div class="card-details my-3">
          <div class= "px-3">
            <h4><strong><%= food.name %></strong></h4>
            <p><%=h truncate(food.description, length: 60) %></p>
            <div class="card-price card-cart d-flex justify-content-between">
              <p>$<%= food.price %></p>
              <i class="fas fa-cart-plus"></i>
            </div>
          </div>
        </div>
      </div>
     <% end %>
  </div>
</div>
