<%= link_to "Home", "/" %> > <%= link_to "Restaurants", "/restaurants#index" %> > <%= @restaurant.name %>
<h1><%= @restaurant.name %></h1>
<p>Operating Hours <%= @restaurant.opening_time.strftime('%I:%M %p') %> - <%= @restaurant.closing_time.strftime('%I:%M %p') %></p>
