<div style="background-color: white">
  <div class="container py-3">
    <%= link_to "Home", "/" %> > <%= link_to "Restaurants", "/restaurants#index" %> > <%= @restaurant.name %>
    <h1 class="mt-3"><%= @restaurant.name %></h1>
      <% unchecked_stars = (5 - @restaurant.rating).to_i %>
      <% @restaurant.rating.times do |star| %>
        <span class="fa fa-star checked"></span>
      <% end %>
      <% unchecked_stars.times do |star| %>
        <span class="fa fa-star"></span>
      <% end %>
    <p>Cuisine: <%= @restaurant.cuisine %></p>
    <p>Operating Hours <%= @restaurant.opening_time.strftime('%I:%M %p') %> - <%= @restaurant.closing_time.strftime('%I:%M %p') %></p>
    <% if @restaurant.promo_status == 1 %>
      <div class="promo-icon"><p>Promotion</p></div>
    <% end %>
  </div>
</div>

<div class="container my-3">
  <div class="cards">
    <%= render @foods %>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright">
    @Chomp 2021
  </div>
</div>
